{% extends "smulithackathon/layout.html" %}

{% block body %}
<script>
  function openFeedback(){
    document.getElementById("modal").style.display = "block";
  }
  function closeFeedback(){
    document.getElementById("modal").style.display = "none";
  }
  </script>
  <div id = "modal" style="display:none; z-index: 10000;">
    <div id = "modal-content">
      <button onclick="closeFeedback()" class="w3-bar-item w3-button w3-small" style = "margin: 0; padding: 0;">Close &times;</button>
      <form action = "{% url 'smulithackathon:index' %}" style = "text-align: left;" method = "POST">
        {%csrf_token%}
        <input type = "hidden" value = "yes" name = 'yes'>
        <span class="inline-flex px-2">Provide some feedback for our app!</span><br>
        Name:<input type = "text" name = "name"  class = "form-control">{{stalls.name}}<br>
        Email:<input type = "text" name = "stalltype"  class = "form-control"><br>
        How can we improve:<input type = "text" name = "address"  class = "form-control"><br>
        Did you enjoy the app?:<input type = "checkbox" name = "details"  class = "form-control"><br>
        <hr>
        Your email (for contact purposes):<input required type = "text" name = "email" value = "{{stalls.pricerange}}" class = "form-control"><br>
        <input type = "submit" value = "Submit" class = "btn btn-primary">
      </form>
    </div>
  </div>
  <button style = "margin-right: 10px; display: inline-block; padding:10px 15px;
    width:auto;
      background: rgb(249, 48, 66);
    color:#fff;
    transition:.5s all;
    border-radius:10px;
    cursor:pointer;" onclick = "openFeedback()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg> Feedback </button>
<div class="mt-5 mb-5 text-center">
    <div class="p-2">
        <div class="inline-flex items-center bg-white leading-none text-blue-600 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-blue-600 text-white rounded-full h-6 px-3 justify-center items-center">Based on your results:</span>
            <span class="inline-flex px-2">Location to visit: {{indivtype}}. Your earn about ${{salary}} monthly.</span>
        </div>
    </div>
</div>
  <div class="relative max-w-screen-xl px-8 mb-10 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-gray-100 text-gray-900 sm:rounded-lg shadow-lg">
    <div class="absolute right-0 bottom-0 hero-pattern w-64 h-56"></div>
    <div class="relative">
      <div>
        <h2 class="text-center text-gray-800 text-4xl lg:text-5xl font-bold leading-tight">COVID Restrictions</h2>
        <div class="my-4 mx-auto w-12 h-2 border-4 border-indigo-500"></div>
        <div class="text-center text-gray-700 font-light">Previous and new changes to the restrictions for {{indivtype}} specifically.</div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:mx-12">
        <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          <div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://www.gov.sg/-/media/gov/logo.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold">New Restrictions</div>
                  <div class="text-sm text-gray-600 mt-1">Implemented <a href="https://timerse.com/7-steps-to-boost-your-metabolism/">10 August 2021</a></div>
                </div>
              </div>
        </div>
          
          <div class="mx-auto w-full border border-gray-300 my-8"></div>
          <div class="mt-2">
            {%if indivtype == "Hawker"%}
            Dine-in allowed with group sizes of up to 2 persons, regardless of vaccination status<br><br>
            Even if you're vaccinated, still only max of 2 people per group<br><br>
            Coffee shops refer generally to F&B establishments with SFA coffee shop/ eating house/ canteen license<br><br>
            {%endif%}

            {% if indivtype == "fnb"%}
            Dine-in allowed with group sizes of up to 5 persons if ALL vaccinated*; provision for children 12 years and below applies^<br><br>
            Dine-in not allowed otherwise.<br><br>
            You have to wait 2 weeks after your 2nd shot to be considered "fully vaccinated".<br><br>
            [No change] Prohibition of recorded music/sounds in F&Bs<br><br>
            Use the Dine-In Group Checker by checkfirst.gov.sg to calculate whether your group can dine-in together<br><br>
            {% endif %}

            {% if indivtype == "office"%}
            From 19 August:<br><br>
            Up to 50% of employees who can work from home can return to the workplace<br><br>
            Social gatherings allowed<br><br>
            {% endif %}
            {% if indivtype == "taxi"%}
            No change.
            {% endif %}
            {% if indivtype == "gym"%}
            Indoor mask-off high-intensity activities and classes capped at 30 persons<br><br>
            Indoor mask-off activities at gyms/fitness studios to resume in groups of up to 5 persons if all individuals are vaccinated* (SportSG will provide more details on the provision for children 12 years and below)<br><br>
<br><br>
            Indoor mask-on and all outdoor (mask-on and mask-off) activities and classes capped at 50 persons<br><br>
            In groups of up to 5 persons for mask-on indoor activities and all outdoor activities only. Irrespective of vaccination or test status.<br><br>
            {% endif %}
            {% if indivtype == "tuition"%}
            Up to 50 persons per class in groups of up to 5 persons, strongly encouraged to go online.<br><br>
            Refer to MOE’s advisory for further details (Separate safe management measures for higher-risk arts and sports classes apply.)<br><br>
            Home-based tuition/enrichment which run in-person lessons are subject to the prevailing national group size limit and number of unique visitors allowed per household per day.<br><br>
            {% endif %}
            {% if indivtype == "hotel"%}
            Group of up to 5 persons per room for staycations (except where individuals are all from the same household, subject to the room’s maximum capacity)<br><br>
            {% endif %}
            {% if indivtype == "hairdresser"%}
            (Massage Establishments included)<br><br>
            Services which require masks to be removed (e.g. facials, saunas, make-up services) allowed to resume if customer is vaccinated*.<br><br>
            {% endif %}
            {% if indivtype == "cinema"%}
            From 10 Aug:<br><br>
            Up to 500 persons if all vaccinated*; up to 50 persons if unvaccinated.<br><br>
            F&B may be served in groups of up to 5 persons if all customers are vaccinated*; provision for children 12 years and below applies^<br><br>

            From 19 August:<br><br>
            Up to 1,000 persons if all vaccinated*; up to 50 persons if unvaccinated; provision for children 12 years and below applies^<br><br>
            {% endif %}
            {% if indivtype == "concert"%}
            From 10 Aug:<br><br>
            Up to 500 attendees if all vaccinated*; up to 50 attendees if unvaccinated; provision for children 12 years and below applies^<br><br>
            Unmasking and singing/ playing of instruments that require expulsion of air for live performances may resume, subject to updated safe management measures<br><br>

            From 19 August:<br><br>
            Up to 1,000 attendees if all vaccinated*; up to 50 attendees if unvaccinated; provision for children 12 years and below applies^<br><br>
            {% endif %}
            {% if indivtype == "sports"%}
            From 10 Aug:<br><br>
            Up to 500 attendees if all vaccinated*; up to 50 attendees if unvaccinated; provision for children 12 years and below applies^<br><br>
            Sports/physical exercises: Up to 5 people (including coach) for group activities. For indoor unmasked activities, all participants must be fully vaccinated*.<br><br>

            From 19 August:<br><br>
            Up to 1,000 attendees if all vaccinated*; up to 50 attendees if unvaccinated; provision for children 12 years and below applies^<br><br>
            {% endif %}
            {% if indivtype == "mice"%}
            From 10 Aug:<br><br>
            Up to 500 attendees if all vaccinated*; up to 50 persons if unvaccinated; provision for children 12 years and below applies^<br><br>
            Unmasking may resume, subject to updated safe management measures<br><br>

            From 19 August:<br><br>
            Up to 1,000 attendees if all vaccinated*; up to 50 attendees if unvaccinated; provision for children 12 years and below applies^<br><br>

            {% endif %}
            {% if indivtype == "hospital"%}
            No change.
            {% endif %}
          </div>
          
        </div>
        
        <div class="mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          <div>
            
            <div class="flex items-center">
              <div>
                <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                  src="https://www.gov.sg/-/media/gov/logo.png">
              </div>
              <div class="ml-4">
                <div class="font-bold">Previous Restrictions</div>
                <div class="text-sm text-gray-600 mt-1">Implemented <a href="https://timerse.com/7-steps-to-boost-your-metabolism/">22 July 2021</a></div>
              </div>
            </div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div class="mt-2">
                {%if indivtype == "Hawker"%}
                Dining-in to cease<br><br>
                Only takeaway and delivery allowed<br><br>
                Reduction of social gathering group sizes from a maximum of 5 persons to a maximum of 2 persons<br><br>
                {%endif%}
                {%if indivtype == "fnb"%}
                Dining-in to cease<br><br>
                Only takeaway and delivery allowed<br><br>
                Reduction of social gathering group sizes from a maximum of 5 persons to a maximum of 2 persons<br><br>
                {%endif%}
                {%if indivtype == "office"%}
                Current rules since 22 July:<br><br>
                Work-from-home as the default<br><br>
                No cross-deployment<br><br>
                Social gatherings not allowed<br><br>
                {%endif%}
                {%if indivtype == "taxi"%}
                Up to 5 passengers for taxis/PHCs, excluding the driver (yes, e.g. MPV taxis/6-seater PHCs. Normal taxis will continue to take only 4 pax as per their vehicle capacity limit)<br><br>
                Paid car-pooling services that are matched through licensed ride-hail platforms, such as GrabHitch and RydePool, may resume<br><br>
                Masks continue to be mandatory<br><br>
                {%endif%}
                {%if indivtype == "gym"%}
                Indoor mask-off activities at gyms/fitness studios to resume in groups of up to 2 persons if any individual in the group is ineligible* or are children aged 12 years and below; such activities may resume in groups of up to 5 persons if all individuals are eligible*. Class sizes for mask-off high-intensity activities capped at 30 persons<br><br>
 
                Indoor mask-on and all outdoor classes capped at 50 persons <br><br>

                In groups of up to 5 persons for mask-on indoor activities and all outdoor activities only
                {%endif%}
                {%if indivtype == "tuition"%}
                Up to 50 persons per class in groups of up to 5 persons, refer to MOE’s advisory for further details. (Separate safe management measures for higher-risk arts and sports classes apply.)
                {%endif%}
                {%if indivtype == "hotel"%}
                Group of up to 5 persons per room for staycations (except where individuals are all from the same household, subject to the room’s maximum capacity)
                {%endif%}
                {%if indivtype == "hairdresser"%}
                Services which require masks to be removed (e.g. facials, saunas) allowed to resume<br><br>
 
                Prevailing safe management measures should still be observed
                {%endif%}
                {%if indivtype == "cinema"%}
                Up to 250 persons with PET, up to 50 persons without PET<br><br>
 
                F&B may be served if all customers are in groups of no more than 2 persons if any individual in the group is ineligible*; in groups of no more than 5 persons if all individuals are eligible*. Children aged 12 years and below may make up half the group if from different households, and up to 4 children if all are from the same household<br><br>
                
                If F&B service is not allowed, customers may be in groups of up to 5 persons
                {%endif%}
                {%if indivtype == "concert"%}
                Up to 250 persons with PET; up to 50 persons without PET<br><br>

                Unmasking and singing/ playing of instruments that require expulsion of air for live performances may resume, subject to updated safe management measures
                {%endif%}
                {%if indivtype == "sports"%}
                Up to 250 persons with PET, up to 50 persons without PET
                {%endif%}
                {%if indivtype == "mice"%}
                Up to 250 persons with PET; up to 50 persons without PET<br><br>
 
                Unmasking may be allowed, subject to updated safe management measures<br><br>
                {%endif%}
                {%if indivtype == "hospital"%}
                All visitation to hospital wards will be stopped from 5 - 18 August 2021 (both dates inclusive), except for the patient groups below, who will be allowed visitation on a conditional and case-by-case basis, as assessed by the hospital:<br><br>
                a. Patients whose conditions have turned very ill;<br><br>
                b. Paediatric patients;<br><br>
                c. Birthing/post-partum mothers; and<br><br>
                d. Patients requiring additional care support from caregivers, e.g. assistance of inpatients who have mental incapacities and family members who are undergoing caregiver training.<br><br>
                {%endif%}
              </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  <div class="relative max-w-screen-xl px-8 mb-10 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-gray-100 text-gray-900 sm:rounded-lg shadow-lg">
    <div class="absolute right-0 bottom-0 hero-pattern w-64 h-56"></div>
    <div class="relative">
      <div>
        <h2 class="text-center text-gray-800 text-4xl lg:text-5xl font-bold leading-tight">Relevant Schemes</h2>
        <div class="my-4 mx-auto w-12 h-2 border-4 border-indigo-500"></div>
        <div class="text-center text-gray-700 font-light">Schemes we think are relevant to your situation</div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:mx-12">
          {% if salary < 2000  %}
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
            <div class="mt-2">
              
  Provides temporary financial support to lower- and middle-income workers (both employees and Self-Employed Persons) with less means and family support, who have been affected by the economic impact of COVID-19.


            </div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div>
              <div class="flex items-center">
                  <div>
                    <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                      src="https://www.gov.sg/-/media/gov/logo.png">
                  </div>
                  <div class="ml-4">
                    <div class="font-bold">COVID-19 Recovery Grant</div>
                    <div class="text-sm text-gray-600 mt-1">Apply online from  <a href="#">18 Jan 2021 to 31 Dec 2021</a></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
          <div class="mt-2">
            Provides temporary financial support for lower- to middle-income workers who are financially impacted by the tightening of safe management measures (SMMs) under Heightened Alert.
          </div>
          <div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://www.gov.sg/-/media/gov/logo.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold">COVID-19 Recovery Grant - Temporary (Aug 2021)</div>
                  <div class="text-sm text-gray-600 mt-1">Apply online from <a href="#">1 Aug 2021 to 31 Aug 2021</a></div>
                </div>
              </div>
        </div>
          
          </div>
          {% elif children == "yes" %}
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
          <div class="mt-2">
            Provides temporary financial support for lower- to middle-income workers who are financially impacted by the tightening of safe management measures (SMMs) under Heightened Alert.
          </div>
          <div class="mx-auto w-full border border-gray-300 my-8"></div>
          <div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://www.gov.sg/-/media/gov/logo.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold"> COVID-19 Recovery Grant - Temporary (Aug 2021)</div>
                  <div class="text-sm text-gray-600 mt-1">Apply online from <a href="#">1 Aug 2021 to 31 Aug 2021</a></div>
                </div>
              </div>
        </div>
          </div>
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
          <div class="mt-2">
            One-off $200 top-up to Child Development Account (CDA) for Singapore Citizens aged 0 to 6 in 2021.
          </div>
          <div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://www.gov.sg/-/media/gov/logo.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold">Top-up to Child Development Account</div>
                  <div class="text-sm text-gray-600 mt-1">Apply by <a href="#">Sep 2021</a></div>
                </div>
              </div>
        </div>
          
          </div>
          {% endif %}
          <!-- {% if indivtype == "office" %}
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
          <div class="mt-2">
            The COVID-19 Recovery Grant (CRG) provides temporary financial support to workers in lower- to middle-income households who are presently experiencing involuntary job loss, involuntary no-pay leave (NPL) or income loss due to the economic impact of COVID-19.
          </div>
          <div class="mx-auto w-full border border-gray-300 my-8"></div>
          <div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://www.gov.sg/-/media/gov/logo.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold">COVID-19 Recovery Grant</div>
                  <div class="text-sm text-gray-600 mt-1">Apply by <a href="#">31 December 2021</a></div>
                </div>
              </div>
        </div>
          </div>
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
          <div class="mt-2">
            Provides temporary financial support for lower- to middle-income workers who are financially impacted by the tightening of safe management measures (SMMs) under Heightened Alert.<br><br>
If you are presently unemployed due to retrenchment or contract termination, please apply for the COVID-19 Recovery Grant instead.
          </div>
          <div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://www.gov.sg/-/media/gov/logo.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold">COVID-19 Recovery Grant - Temporary (Aug 2021)</div>
                  <div class="text-sm text-gray-600 mt-1">Apply by <a href="#">31 August 2021</a></div>
                </div>
              </div>
        </div>
          
          </div>
          {% endif %} -->

        
      </div>
    </div>
  </div>
  <div class="relative max-w-screen-xl px-8 mb-10 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-gray-100 text-gray-900 sm:rounded-lg shadow-lg">
    <div class="absolute right-0 bottom-0 hero-pattern w-64 h-56"></div>
    <div class="relative">
      <div>
        <h2 class="text-center text-gray-800 text-4xl lg:text-5xl font-bold leading-tight">Resources Calculations</h2>
        <div class="my-4 mx-auto w-12 h-2 border-4 border-indigo-500"></div>
        <div class="text-center text-gray-700 font-light">Calculate the resources required to keep your business running</div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var profit = "{{profit}}";
        var salary = "{{salary}}";
        var children = "{{children}}";
        var cost = 100
        document.querySelector('#cost').innerHTML = `- $${parseInt(cost)}`;
        var indivtype = "{{indivtype}}";
        if (children == 'yes'){
          var child = 200
          document.querySelector('#profit').innerHTML = `$${parseInt(salary)}`;
          document.querySelector('#salary').innerHTML = `- $${parseInt(child)}`;
          var final = salary - cost - child;
          document.querySelector('#final').innerHTML = `$${final}`;
        }
        else{
          var child = 0
          var final = salary - cost - child;
          document.querySelector('#profit').innerHTML = `$${parseInt(salary)}`;
          document.querySelector('#salary').innerHTML = `- $${parseInt(child)}`;
          document.querySelector('#final').innerHTML = `$${final}`;
      }});
      </script>
        <div class="sm:p-7 p-4">
            <table class="w-full text-left">
                <thead>
                  <tr class="text-gray-400">
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Type</th>
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Where</th>
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 hidden md:table-cell">Description</th>
                    <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Amount</th>
                  </tr>
                </thead>
                <tbody class="text-gray-600 dark:text-gray-100">
                  <!-- PROFIT -->
                  <tr>
                        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                          <div class="flex items-center">
                            <svg viewBox="0 0 24 24" class="w-4 mr-5 text-green-500" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <line x1="12" y1="5" x2="12" y2="19"></line>
                              <polyline points="19 12 12 19 5 12"></polyline>
                            </svg>
                            Income
                          </div>
                        </td>
                        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                          <div class="flex items-center">
                           
                            You
                          </div>
                        </td>
                        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">Monthly Salary</td>
                        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-green-500" id = "profit">${{salary}}</td>
    
                  </tr>
                  <!-- SALARY -->
                  <tr>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        <!-- <svg viewBox="0 0 24 24" class="w-4 mr-5 text-yellow-500" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <circle cx="12" cy="12" r="10"></circle>
                          <line x1="12" y1="8" x2="12" y2="12"></line>
                          <line x1="12" y1="16" x2="12.01" y2="16"></line>
                        </svg> -->
                        <svg viewBox="0 0 24 24" class="w-4 mr-5 text-gray-400" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                          <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>
                        Payments
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                       
                        You
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">Child Costs</td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-red-500" id = "salary">- ${{salary}}</td>

                  </tr>
                  
                  <!-- COVID COSTS -->
                  <tr>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        <!-- <svg viewBox="0 0 24 24" class="w-4 mr-5 text-yellow-500" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <circle cx="12" cy="12" r="10"></circle>
                          <line x1="12" y1="8" x2="12" y2="12"></line>
                          <line x1="12" y1="16" x2="12.01" y2="16"></line>
                        </svg> -->
                        <svg viewBox="0 0 24 24" class="w-4 mr-5 text-gray-400" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                          <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>
                        COVID
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                       
                        You
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">Money Spent on Changing Restrictions</td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-red-500" id = "cost">- ${{salary}}</td>

                  </tr>
                  <!-- FINAL -->
                   <tr>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        <svg viewBox="0 0 24 24" class="w-4 mr-5 text-gray-400" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                          <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>
                        -
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        Your Company
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">Money for Bills</td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-green-500" id = "final"></td>
                    
                  </tr>
                  <!-- <tr>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        <svg viewBox="0 0 24 24" class="w-4 mr-5 text-gray-400" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                          <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>
                        Card
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        
                        Apple
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">Macbook Pro 13"</td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-red-500">- $1.499.99</td>
                    
                  </tr>
                  <tr>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        <svg viewBox="0 0 24 24" class="w-4 mr-5 text-green-500" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <polyline points="19 12 12 19 5 12"></polyline>
                        </svg>
                        Income
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                      <div class="flex items-center">
                        James Smith
                      </div>
                    </td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">Invoice No: 37401</td>
                    <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-green-500">+ $60.00</td>
                    
                  </tr>     -->
                </tbody>
              </table>
        </div>
    </div>
  </div>
  <div class="relative max-w-screen-xl px-8 mb-10 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-gray-100 text-gray-900 sm:rounded-lg shadow-lg">
    <div class="absolute right-0 bottom-0 hero-pattern w-64 h-56"></div>
    <div class="relative">
      <div>
        <h2 class="text-center text-gray-800 text-4xl lg:text-5xl font-bold leading-tight">COVID Laws</h2>
        <div class="my-4 mx-auto w-12 h-2 border-4 border-indigo-500"></div>
        <div class="text-center text-gray-700 font-light">Laws most relevant to you, powered by <a style = "color: maroon" href = "https://www.lexisnexis.com.sg/en-sg/products/lexis-advance.page">LexisNexis Database&copy;</a></div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:mx-12">
          
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
            <div class="mt-2">
              
              (1)  Every individual —<br><br>
(a)	must wear a mask at all times when the individual is not in his or her ordinary place of residence; and<br><br>

(b)	must ensure that every child of 6 years of age and above and who is escorted by the individual, wears a mask at all times, when not in the child’s ordinary place of residence.<br><br>

(2)  However, paragraph (1) does not apply —<br><br>
(a)	when the individual is engaged in any strenuous physical exercise;<br><br>
Example<br><br>
     An individual who is jogging or running on the sidewalk of a road, but not walking.<br><br>

(b)	when lawfully directed by a person to remove the mask in order to ascertain the identity of the individual or child;<br><br>
(c)	when travelling in a motor car or van alone or where the driver and every other passenger in the motor car or van ordinarily lives with the individual in the same place of residence, or when riding a motorcycle (whether or not in the course of employment);<br><br>
(d)	when carrying out, in the course of employment, an activity that requires that no mask may be worn, or that it must be removed in order that other equipment may be worn or used, to carry out that activity, but only to the extent and in the circumstances authorised by these Regulations or any other Control Order Regulations to not wear a mask where the extent or circumstances are expressly provided by these or those Regulations;<br><br>


            </div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div>
              <div class="flex items-center">
                  <div>
                    <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                      src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_11150639be5cb89b297de303d22660c0/lexis-advance.png">
                  </div>
                  <div class="ml-4">
                    <div class="font-bold">COVID-19 (TEMPORARY MEASURES) ACT 2020
                      (ACT 14 OF 2020)</div>
                    <div class="text-sm text-gray-600 mt-1">The most recent  <a href="https://sso.agc.gov.sg/SL-Supp/S589-2021/Published/20210809?DocDate=20210809">regulation</a></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
          <div class="mt-2">
            (1)  Subject to regulation 13, an individual must not intentionally enter a restricted place during a restricted period of the restricted place if —<br><br>
(a)the individual does not have a cleared status when entering; and<br><br>
(b)the individual —<br><br>
(i)knows that he or she does not have a cleared status when entering the restricted place during that restricted period; or<br><br>
(ii)is reckless as to whether he or she has a cleared status when entering the restricted place during that restricted period.<br><br>
(2)  Subject to regulation 13, an individual must not intentionally remain in a restricted place at any time during a restricted period<br> of the restricted place if —<br><br>
(a)the individual —<br><br>
(i)knows that he or she stops having a cleared status while within the restricted place during that restricted period; or<br><br>
(ii)is reckless as to whether he or she continues having a cleared status while within the restricted place during that restricted period; and<br><br>
(b)the individual stops having a cleared status while within the restricted place during that restricted period.<br><br>
          </div>
          <div>
            <div class="mx-auto w-full border border-gray-300 my-8"></div>
            <div class="flex items-center">
                <div>
                  <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                    src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_11150639be5cb89b297de303d22660c0/lexis-advance.png">
                </div>
                <div class="ml-4">
                  <div class="font-bold">INFECTIOUS DISEASES
                    (MASS GATHERING TESTING FOR
                    CORONAVIRUS DISEASE 2019)
                    REGULATIONS 2021</div>
                    <div class="text-sm text-gray-600 mt-1">The most recent  <a href="https://sso.agc.gov.sg/SL-Supp/S589-2021/Published/20210809?DocDate=20210809">regulation</a></div>
                </div>
              </div>
        </div>
          
          </div>
          <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
            <div class="mt-2">
When face shields may be worn instead <br><br>
3B.  Where any regulation requires a mask to be worn, an individual or child may wear a face shield in lieu of a mask only —<br><br>
(a)	if wearing a mask over the individual’s or child’s nose and mouth leads to severe medical conditions for the individual or child and wearing a face shield does not;<br><br>
(b)	if the child is 12 years of age or younger;<br><br>

(c)	if the individual is any of the parties to the marriage to which a wedding relates, and only during the wedding;<br><br>

(d)	if the individual is any of the parties being married during a solemnization of their marriage, and only during the solemnization proceedings;<br><br>

(e)	if the individual is —<br><br>
(i)	a performer in a live performance;<br><br>

(ii)	an interviewee at a media conference; or<br><br>

(iii)	a speaker engaged in public speaking at a major business event,<br><br>

but only to the extent and in the circumstances authorised by these Regulations or the COVID-19 (Temporary Measures) (Performances and Other Activities — Control Order) Regulations 2020 where the extent or circumstances are expressly provided by these or those Regulations; and<br><br>

(f)	if the individual is an athlete or a contestant participating in a sporting activity played or conducted at a sporting event, but only to the extent and in the circumstances authorised by these Regulations or the COVID-19 (Temporary Measures) (Sporting Events and Activities — Control Order) Regulations 2021 where the extent or circumstances are expressly provided by these or those Regulations.<br><br>

            </div>
            <div>
              <div class="mx-auto w-full border border-gray-300 my-8"></div>
              <div class="flex items-center">
                  <div>
                    <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                      src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_11150639be5cb89b297de303d22660c0/lexis-advance.png">
                  </div>
                  <div class="ml-4">
                    <div class="font-bold">COVID-19 (TEMPORARY MEASURES) ACT 2020
                      (ACT 14 OF 2020)</div>
                      <div class="text-sm text-gray-600 mt-1">The most recent  <a href="https://sso.agc.gov.sg/SL-Supp/S589-2021/Published/20210809?DocDate=20210809">regulation</a></div>
                  </div>
                </div>
          </div>
            
            </div>
            <div class="relative mx-auto mt-8 rounded-lg shadow max-w-sm p-10 bg-gray-100 text-gray-700 leading-snug flex flex-col justify-between">
          
          
          
              <div class="mt-2">
                6.—(1)  An individual must not gather with any other individual, outside of the individual’s ordinary place of residence for a purpose that is not performing work as, for or with a permitted enterprise and outside of a place of residence to which regulation 4(4) applies, except in a cohort —<br><br>
                (a)	that is a solemnization special cohort or a cohort in regulation 7A(2A)(b)(ii), where the purpose of gathering is the solemnization of a marriage;<br><br>
                (b)	that is a wedding special cohort or a cohort in regulation 8(1)(d)(ii), where the purpose of gathering is a wedding;<br><br>
                (ba)	that is a dining-in activity cohort if for the purpose of consuming food and drink at a retail food and drinks establishment or a place at which a retail liquor business is for the time being carried on where the First Schedule does not prohibit consumption of food or drink on those premises;<br><br>
                (bb)	that is a sporting activity cohort if for the purpose of engaging in any sporting activity as follows, in an indoor physical recreational facility where the First Schedule does not prohibit doing so on those premises, and in the course of receiving an authorised service consisting of providing lessons or coaching in, or for participation in, that sporting activity:<br><br>
                (i)	any high-intensity physical exercise;<br><br>
                (ii)	another sporting activity or physical recreational activity without wearing a mask;<br><br>
                (bc)	that is a personalised service cohort if for the purpose of receiving any personal appearance service or personal care service that requires taking off, or not wearing, one’s mask in order to receive the service; or<br><br>
                (c)	in any other case, that consists of —<br><br>
                (i)	individuals all of whom are from the same household; or<br><br>
                (ii)	not more than 5 individuals.<br><br>
  
              </div>
              <div>
                <div class="mx-auto w-full border border-gray-300 my-8"></div>
                <div class="flex items-center">
                    <div>
                      <img class="w-12 h-12 rounded-full border-2 border-indigo-400"
                        src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_11150639be5cb89b297de303d22660c0/lexis-advance.png">
                    </div>
                    <div class="ml-4">
                      <div class="font-bold">COVID-19 (TEMPORARY MEASURES) ACT 2020
                        (ACT 14 OF 2020)</div>
                        <div class="text-sm text-gray-600 mt-1">The most recent  <a href="https://sso.agc.gov.sg/SL-Supp/S589-2021/Published/20210809?DocDate=20210809">regulation</a></div>
                    </div>
                  </div>
            </div>
              
              </div>
      </div>
    </div>
  </div>
  {% endblock %}